body {
	margin-left: -0.5%;
	margin-top: -0.5%;
    width: 100%;
}
/* M-Park */
.header {
    position: fixed;
    font-family: Archivo Black;
    font-size: 320%;
    color: white;
    margin-left: 3%;
	background: -webkit-radial-gradient(#80b3ff,#eee );
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	z-index: 1;
	top: 5%;
}
.header a:hover, a:active {
    background: -webkit-radial-gradient(#eee,#80b3ff );
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*navbar*/
header {
    position: fixed;
    width: 15%;
    margin-left: 75%;
    top: 15%;
    text-align: left;
    height: 100%;
	left:-72%;

}
h1{
    position: fixed;
    margin: 0 0 irem;
    font-size: 1.5rem;
}
.nav {
    z-index: 2;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #9EA9B8;
    display: none;
    text-align: left;
	top:20px;
	font-size:20px;

}
.nav a {
    display: block;
	height:20px;
    padding: 0.5em;
    text-decoration: none;
    color: #000;
	padding-top:15%;
}
/*als je hovert*/
.nav a:hover {
    background-color:  #0066ff;
    color: #fff;
}
.nav-check {
    position: fixed;
  position: fixed;
  top: -3em;
  text-align: center;
}
.nav-check:checked ~ .nav {
  display: block;
}
.nav-label {
    cursor: pointer;
    font-size: 1.25rem;
}
.current {
  background-color: ;
}
.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
/* "startpagina" */
.startpagina{
    color: white;
	margin-left: -0.5%;
}
#background1 {
    width: 102%;
    background-image: url(afbeelding/HD-Cars-Wallpapers-13.jpg);
    background-size: 100% 100%;
    height: 101%;
    position: absolute;
    z-index: -1;
    filter: brightness(100%) contrast(70%);
}
/* The text for the "startpagina"*/
#startpage1 {
    margin-left: 20%;
    position: absolute;
    top: 35%;
    font-size: 300%;
    float: left;
}
/* The text of the second div*/
#startpage2 {
    margin-left: 20%;
    position: absolute;
    top: 70%;
    font-size: 150%;
    float: left;
}
/* Decoration of the car text*/
#carlight {
      background: -webkit-radial-gradient(#eee,#80b3ff );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
#startpage3 {
    margin-left: 20%;
    position: absolute;
    top: 90%;
    font-size: 150%;
    float: left;
}
#startpage3 a:link, a:visited {
    background-color: #80b3ff;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#startpage3 a:hover, a:active {
    background-color:  #0066ff;
}
/*registratie van de klant*/
#formulier {
	position: absolute;
	height: 95%;
	top: 105%;
	margin-left: 20%;
    width: 75%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-size: 125%;
}
#formulier input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 125%;
}
#formulier input[type=submit] {
    width: 100%;
    background-color: #80b3ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 125%;
}
#formulier input[type=submit]:hover {
    background-color: #0066ff;
}
/*pagina die prijs berekent*/
#uitcheck {
    position: absolute;
    height: 94%;
    margin-left: 20%;
	top: 210%;
    width: 75%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-size: 125%;
}
#uitcheck input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 125%;
}
#uitcheck input[type=submit] {
    width: 100%;
    background-color: #80b3ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 125%;
}
#uitcheck input[type=submit]:hover {
    background-color: #0066ff;
}
/* contact pagina */
.contact{
    color: white;
}
#contact{
    top: 317%;
    border: none;
    position: absolute;
    height: 100%;
    width: 81.7%;
    background-image: url(afbeelding/lexus1.jpg);
    padding-left: 20%;
    background-size: cover;
    z-index: -1;
    filter: brightness(100%) contrast(70%);
  
}
#contact h2{
    font-size: 30px;

}
#contact p{
    font-size: 22px;

}
#contactKlant{
    margin-top: 3.5%;
}
#contactKlantLogo{
    border: none;
    width:40%;
    height:180px;
    background-image: url(afbeelding/logo%20mimosa.png);
    background-repeat: no-repeat;
    margin-right: 5%;
    margin-top:-13%;
    float: right;
}
#contactLeverancier{
    
}
/*footer*/
#footer-social-icons {
    position: absolute;
    top: 417%;
    width: 100%;
    height: 20%;
    right: 0;
    left: 0;
    display: block;
    background-color: #2A2728;
}
.social-icons {
    padding-top: 3%;
    text-align-last: center;
}
.social-icon {
    color: #fff;
    width: 50px;
    height: 50px;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding: 15px 15px;
    border-radius: 90%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #484546;
    text-align: center;
    width: 28px;
    height: 28px;
    font-size: 28px;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding: 15px 15px;
    border-radius: 90%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #484546;
    width: 28px;
    height: 28px;
    font-size: 28px;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding: 15px 15px;
    border-radius: 90%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #484546;
    width: 28px;
    height: 28px;
    font-size: 28px;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding: 15px 15px;
    border-radius: 90%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #484546;
    width: 28px;
    height: 28px;
    font-size: 28px;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding: 15px 15px;
    border-radius: 90%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #484546;
    width: 28px;
    height: 28px;
    font-size: 28px;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-google-plus {
   padding: 15px 15px;
    border-radius: 90%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #484546;
    width: 28px;
    height: 28px;
    font-size: 28px;
}
.fa-google-plus:hover {
    background-color: #d34836;
}